body {
    text-align: center;
    font-family: Arial;
    background-color: white;
    background-image: -moz-linear-gradient();
    margin: auto;
}
h1{
    font-size: 40px;
    color: blue;
    padding-bottom: 0%;
}
h2{
    font-size: 40px;
    color:pink;
    padding-bottom: 0%;
}
h3{
    font-size:40px;
    color: violet;
    padding-bottom: 0%;
}
p{
    font-size: 20px;
    color: black;
    padding-bottom: 0%;
}
ul,ol{
    text-align: center;
    list-style-position: inside;
}
table {
    border-collapse: collapse;
    margin: auto;
}
table, th, td {
    border: 1px dashed black;
    padding: 8px;
}

        body {
            text-align: center; /* Center-aligns all content on the page */
            font-family: Arial, sans-serif;/* Sets a clean, modern font for the page */
            margin-top: 150px;
            background-color: #f2f2f2;
        }
        h1 {
            font-size: 40px;
            color: darkblue;
        }
        h2 {
            font-size: 25px;
            color: #333;
        }
        p {
            font-size: 18px;
        }